.App {
  text-align: center;
}


body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

/* Sign in */

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.signInContainer p {
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.signInContainer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: royalblue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signInContainer button:hover {
  background-color: #357ae8; 
}


/* Navbar */

.navbar {
  background-color: royalblue;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.navbarLinks {
  font-size: larger;
  display: flex;
  margin-left: 50px;
  text-decoration: underline;
}


.navbarLinks a {
  color: white;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.userInfo p {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 10px;
}

.userInfo img {
  border-radius: 50%;
  margin-right: 8px;
}

.userInfo a {
  color: white;
  font-size: large;
  
}

.logoutButton {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.navTitle {
  font-size: larger;
  font-style: italic;
  position:static;
  margin-right:40px;
  
}


/* Create form  */

.createForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.errorMessage {
  color: #d9534f;
  margin-bottom: 10px;
}

.submitFormButton {
  background-color: #5cb85c;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitFormButton:hover {
  background-color: #4cae4c;
}

/* Posts */

.postContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
}

.body p {
  color: #555555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #007bff; /* Set username color */
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  color: #555555; /* Set like button color */
}

.likeCount {
  font-size: 14px;
  color: #777777; /* Set like count color */
}

/* Footer */

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  color: #ffffff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footerContact a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 50px;
}

/* Contact  */

.contactContainer {
  margin-top: 100px;
}

.contactButtons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.contactButton {
  padding: 10px;
  background-color: royalblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 100px;
  font-size: large;

  &:hover {
      background-color: #2980b9; 
  }
}

.contactButton a {
  color: white;
  text-decoration: none;
}

